body > *,
body > * > *,
body > * > * > * {
  position: relative;
}

body > *::before,
body > * > *::before,
body > * > * > *::before {
  content: "." attr(class);
  position: absolute;
  top: 2px;
  left: 2px;
  height: 24px;
  padding: 2px 5px;
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  font-family: "Courier New", monotype;
  white-space: nowrap;
}

body > * {
  background: rgba(128, 255, 128, 0.25);
  background-clip: content-box;
  outline: 1px solid green;
  outline-offset: -1px;
}

body > *::before {
  color: white;
  background: green;
}

body > * > * {
  background: rgba(255, 45, 82, 0.2);
  background-clip: content-box;
  outline: 1px solid rgba(255, 45, 82, 0.9);
  outline-offset: -1px;
}

body > * > *::before {
  color: white;
  background: #ff2d52;
}

body > * > * > * {
  background: rgba(173, 216, 230, 0.2);
  background-clip: content-box;
  outline: 1px solid rgba(173, 216, 230, 0.9);
  outline-offset: -1px;
}

body > * > * > *::before {
  color: black;
  background: lightblue;
}
