body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}

img {
max-width: 100%;
height: auto;
}

@font-face {
  font-weight: normal;
  font-family: "OpenSans";
  font-style: normal;
  src:
  url("fonts/opensans.woff2") format("woff2"),
  url("fonts/opensans.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "OpenSans";
  font-style: normal;
  src:
  url("fonts/opensansbold.woff2") format("woff2"),
  url("fonts/opensansbold.woff") format("woff");
}
