.about-us {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 9.375%;
  padding-left: 9.375%;
}

.about-us__caption {
  margin: 0 auto;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 30px;
  @include font(25px, 30px, bold);
}

.about-us__list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.about-us__item {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 0;
  @include font(17px, 20px, bold);
}
