.catalog-item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 28px;
  min-height: 334px;
  position: relative;
  border: 1px solid #ececec;
  box-sizing: border-box;

  @include tablet {
    margin-bottom: 54px;
    box-sizing: border-box;
  }
  @include desktop {
    width: 316px;
    margin: 0;
    box-sizing: border-box;
  }
}

.catalog-item__link {
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  display: block;
  @include tablet {
    align-self: flex-start;
  }
}

.catalog-item__image {
  margin: 0 auto;
  padding: 0;
  display: block;
  @include tablet {
    width: 334px;
    height: 334px;
    position: absolute;
    top: 0;
    left: 0;
  }
  @include desktop {
    width: 316px;
    height: 416px;
  }
}

.catalog-item__name {
  margin: 0;
  width: 100%;
  padding-top: 28px;
  padding-left: 11.54%;
  padding-bottom: 7px;
  box-sizing: border-box;
  @include font(17px, 24px, bold);
  @include tablet {
    width: 334px;
    box-sizing: border-box;
    margin-left: 334px;
    padding-left: 26px;
    @include font(20px, 24px, bold);
  }
  @include desktop {
    padding-bottom: 9px;
    padding-top: 23px;
    @include font(20px, 24px, bold);
    padding-left: 29px;
    padding-right: 29px;
  }
}

.catalog-item__stats {
  margin: 0;
  width: 100%;
  padding-bottom: 18px;
  padding-left: 11.54%;
  @include font(13px, 30px);
  &::before {
    position: absolute;
    content: "";
    width: 76.92%;
    height: 1px;
    background-color: #ececec;
    bottom: 74px;
    left: 10.76%;
  }
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ececec;
    bottom: 0;
    left: 0;
  }

  @include tablet {
    width: 334px;
    box-sizing: border-box;
    margin-left: 334px;
    padding-left: 28px;
    @include font(15px, 30px);
    margin-bottom: auto;
    &::before {
      width: 268px;
      left: 366px;
    }
    &::after {
      display: none;
    }
  }
  @include desktop {
    padding-bottom: 12px;
    @include font(15px, 30px);
    padding-left: 29px;
    padding-right: 29px;
    margin: 0;
    &::before {
      display: none;
    }
    &::after {
      width: 256px;
      left: 27px;
      bottom: 73px;
    }
  }
}

.catalog-item__price {
  margin: 0;
  width: 50%;
  box-sizing: border-box;
  padding-top: 23px;
  padding-bottom: 24px;
  padding-left: 11.54%;
  @include font(15px, 24px, bold);
  @include tablet {
    width: 257px;
    box-sizing: border-box;
    margin-left: 334px;
    padding-left: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: auto;
    @include font(17px, 24px, bold);
  }

  @include desktop {
    width: 240px;
    @include font(17px, 24px, bold);
    padding-left: 29px;
    padding-right: 74px;
    padding-top: 25px;
    padding-bottom: 24px;
    margin-top: auto;
    align-self: flex-end;
  }
}

.catalog-item__shop-it {
  width: 74px;
  height: 73px;
  padding: 0;
  margin: 0;
  font-size: 0;
  margin-left: auto;
  margin-top: auto;
  border: none;
  background: url(../img/icon-cart.svg) no-repeat center 40%;
  opacity: 0.2;
  @include tablet {
    background: url(../img/icon-cart.svg) no-repeat 40% 45%;
  }
  @include desktop {
    background: url(../img/icon-cart.svg) no-repeat 40% 45%;
    margin-top: auto;
    align-self: flex-end;
  }
}
