.contacts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contacts__caption {
  margin: 40px 0;
  width: 100%;
  padding-right: 9.375%;
  padding-left: 9.375%;
  @include font(25px, 30px, bold);
}

.contacts__contents {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding-right: 9.375%;
  padding-left: 9.375%;
  @include font(15px, 20px, normal);
}

.contacts__name {
  width: 30.76923%;
  padding-bottom: 38px;
  vertical-align: top;
}

.contacts__value {
  width: 69.23077%;
  padding-bottom: 38px;
  vertical-align: top;
}

.contacts__map {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-height: 457px;
  background: url("http://placehold.it/768x457") no-repeat;
  background-position: center;
  background-size: auto;
}

.contacts__write-us {
  margin: 40px auto 53px;
  width: 260px;
  padding: 18px 20px 18px 20px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid black;
}
