.container {
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  box-sizing: border-box;
  width: 100%;

  @include tablet {
    width: $tablet-widths;
    padding: 0 50px;
  }

  @include desktop {
    width: $desktop-widths;
    padding: 0 50px;
  }
}

.container--vertical {
  flex-direction: column;
}

.container--footer {
  @include mobile {
    flex-direction: column;
  }
}

.container--goods {
  @include tablet {
    margin-top: auto;
  }
  @include desktop {
    margin-top: auto;
  }
}

.container--pl-bigger {
  @include desktop {
    padding-left: 225px;
  }
}

.container--map {
  padding: 0;
}

.container--reviews {
  @include desktop {
    background: url("../img/review@1x.jpg") no-repeat 50px 0%;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/review@2x.jpg") no-repeat 50px 0%;
      background-size: 350px 457px;
    }
  }
}
