.contacts {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @include tablet {
    margin-top: 78px;
  }
  @include desktop {
    padding-right: 50px;
    padding-left: 50px;
    position: relative;
    margin-left: 175px;
    margin-top: 58px;
  }
}

.contacts__caption {
  margin: 0;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 28px;
  padding-right: 9.37%;
  padding-left: 9.37%;
  @include font(18px, 30px, bold);

  @include tablet {
    @include font(43px, 50px, bold);
    padding-top: 40px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 45px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      right: 52px;
      top: 24px;
      background: url("../img/icon-flag.svg") no-repeat center;
    }
  }

  @include desktop {
    @include font(53px, 57px, bold);
    width: 350px;
    padding-top: 112px;
    padding-bottom: 48px;
    margin-right: 525px;
    padding-right: 50px;
    padding-left: 0;
    box-sizing: border-box;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 47px;
      height: 81px;
      left: -112px;
      top: 102px;
      background: url("../img/icon-flag.svg") no-repeat center;
    }
  }
}

.contacts__contents {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding-right: 9.37%;
  padding-left: 9.37%;
  padding-bottom: 5px;
  @include font(15px, 30px, normal);
  @include tablet {
    @include font(17px, 30px);
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    tbody {
      display: flex;
    }
  }
  @include desktop {
    border-collapse: collapse;
    @include font(17px, 30px);
    width: 350px;
    margin-right: 525px;
    padding-right: 0;
    margin-bottom: 42px;
    box-sizing: border-box;
  }
}

.contacts__name {
  width: 29%;
  padding-bottom: 28px;
  vertical-align: top;
  @include tablet {
    width: 76px;
    padding: 0;
  }
    @include desktop {
    width: 78px;
    padding: 0;
    padding-bottom: 30px;
  }
}

.contacts__value {
  width: 71%;
  padding-bottom: 28px;
  vertical-align: top;
  @include tablet {
    width: 252px;
    padding: 0;
    padding-right: 30px;
    box-sizing: border-box;
  }
    @include desktop {
    width: 272px;
    padding: 0;
    padding-right: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
  }
}

.contacts__decoration-tiffany {
  box-shadow:
    0px 5px white,
    0 6px $tiffany;
}

.contacts__map {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  min-height: 457px;
  background:
    url("../../img/icon-map-pin.svg") no-repeat 49% 46%,
    url("../../img/map-mobile@1x.jpg") no-repeat center;
  background-size: auto;

  @include tablet {
    background-size:
      auto,
      768px auto;
  }

  @include desktop {
    position: absolute;
    width: 525px;
    height: 457px;
    right: 50px;
    top: 40px;
    background-size:
      auto,
      525px auto;
  }
}

.contacts__write-us {
  margin: 0 auto;
  margin-top: 38px;
  margin-bottom: 38px;
  width: 260px;
  box-sizing: border-box;
  padding: 15px 20px 13px 20px;
  text-align: center;
  border: 2px solid #444444;
  @include font(17px, 20px, bold);
  text-transform: uppercase;
  text-decoration: none;
  @include tablet {
    margin: 55px auto 57px;
    width: 230px;
  }
  @include desktop {
    width: 230px;
    box-sizing: border-box;
    margin: 0;
  }
}
