.goods {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: 489px;
  background: #f9f9f9 url("../img/hero-mobile@1x.jpg") no-repeat 50% -17px;
  position: relative;
  border-top: 1px solid #ececec;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background: #f9f9f9 url("../img/hero-mobile@2x.jpg") no-repeat 50% -18px;
    background-size: 575px auto;
  }
  @include tablet {
    background: #f9f9f9 url("../img/hero-desktop@1x.jpg") no-repeat 50% 0;
    height: 746px;
    margin-top: 89px;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 19px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: contain;
      bottom: -8px;
      left: 0;
    }
  }

  @include desktop {
    background: #f9f9f9 url("../img/hero-desktop@1x.jpg") no-repeat 50% 0%;
    background-size: 1150px auto;
    margin-top: 89px;
    height: 746px;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 34px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-X;
      background-size: contain;
      bottom: -17px;
      left: 0;
    }
  }
}

.goods__caption {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding-right: 9.375%;
  padding-left: 9.375%;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 74px;
  @include font(27px, 30px, bold);

  @include tablet {
    left: 50%;
    top: 154px;
    transform: translateX(-50%);
    padding-left: 50px;
    padding-right: 50px;
    @include font(43px, 50px, bold);
  }

  @include desktop {
    position: absolute;
    left: 50%;
    top: 154px;
    transform: translateX(-50%);
    @include font(53px, 57px, bold);
  }
}

.goods__list {
  margin: 0;
  width: 100%;
  padding: 0;
  list-style-type: none;
  margin-top: auto;
  align-items: flex-end;
  margin-top: auto;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    position: relative;
  }
}

.goods__list-item {
  background-color: #56c3b2;
  width: 100%;
  align-self: flex-end;

  @include tablet {
    width: 50%
  }

  @include desktop {
    width: 50%;
  }
}

.goods__list-item--bgc-lighter {
  background-color: #63d1bb;
}

.goods__link {
  display: block;
  padding-top: 27px;
  padding-bottom: 28px;
  padding-left: 9.375%;
  padding-right: 50%;
  box-sizing: border-box;
  @include font(19px, 24px, bold, #ffffff);
  text-decoration: none;
  position: relative;
  &:active {
    opacity: 0.3;
  }

  @include tablet {
    padding-top: 27px;
    padding-right: 167px;
    padding-bottom: 32px;
    padding-left: 35px;
    @include font(20px, 30px, bold, #ffffff);
    &:hover {
      padding-bottom: 37px;
    }
  }
  @include desktop {
    padding-top: 27px;
    padding-right: 330px;
    padding-bottom: 32px;
    padding-left: 37px;
    @include font(20px, 30px, bold, #ffffff);
    &:hover {
      padding-bottom: 37px;
    }
  }
}

.goods__link--interior {
  &::after {
    content: "";
    position: absolute;
    width: 117px;
    height: 103px;
    right: 0;
    top: 0;
    background: url("../img/icon-interior.svg") no-repeat 50% 50%;
    opacity: 0.5;
  }

  @include tablet {
    &::after {
      top: 10px;
    }
  }
  @include desktop {
    &::after {
      top: 8px;
    }
  }
}

.goods__link--toys {
  &::after {
    content: "";
    position: absolute;
    width: 117px;
    height: 103px;
    position: absolute;
    right: 0;
    top: 0;
    background: url("../img/icon-toy.svg") no-repeat 50% 50%;
    opacity: 0.5;
  }
  @include tablet {
    &::after {
      top: 10px;
      right: 5px;
    }
  }
  @include desktop {
    &::after {
      top: 10px;
      right: 5px;
    }
  }
}
