.items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  @include mobile {
    margin-top: 30px;
  }

  @include tablet {
    margin-top: 70px;
  }

  @include desktop {
    justify-content: space-between;
    margin-top: 110px;
    margin-right: 50px;
    margin-left: 50px;
  }
}
