.items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.items__caption {
  margin: 0 auto;
  width: 100%;
  padding-top: 74px;
  padding-bottom: 72px;
  text-align: center;
  @include font(27px, 30px, bold);
  @media (min-width: $tablet-widths) {
    padding-top: 101px;
    padding-bottom: 74px;
    @include font(43px, 50px, bold);
    margin-bottom: 80px;
  }
}
