.main-nav {
  @include flex-mobile-layout();
  position: relative;
}

.main-nav__toggler {
  position: absolute;
  right: 0;
  top: -79px;
  padding: 30px;
}

.main-nav__wrapper {
  @include visibility-hidden();
  position: absolute;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  top: 100%;
  left: 0;
}

.main-nav__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  width: 320px;
}

.main-nav__item {
  a {
    display: block;
    padding-top: 27px;
    padding-bottom: 27px;
    padding-right: 30px;
    padding-left: 76px;
    width: 320px;
    box-sizing: border-box;
    text-decoration: none;
    @include font(17px, 24px, bold);
  }
}

.main-nav__search input[type="text"] {
  padding-top: 27px;
  padding-bottom: 27px;
  padding-right: 30px;
  padding-left: 76px;
  border: none;
  width: 320px;
  box-sizing: border-box;
  @include font(17px, 24px, bold);
  text-decoration: none;
}

.main-nav__cart {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-right: 30px;
  padding-left: 76px;
  width: 320px;
  box-sizing: border-box;
  text-decoration: none;
  @include font(17px, 24px, bold);
}
