.main-nav {
  width: 100%;
  position: relative;
}

.main-nav__toggler {
  position: absolute;
  right: 0;
  top: -79px;
  width: 80px;
  height: 79px;
  border: none;
  padding: 0;
  margin: 0;
  background: url(../img/icon-menu-open.svg) no-repeat center;
}

.main-nav__wrapper {
  @include visibility-hidden();
  position: absolute;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 1;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.main-nav__item {
  margin: 0;
  padding: 0;
}

.main-nav__link {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-right: 9.375%;
  padding-left: 23.75%;
  box-sizing: border-box;
  text-decoration: none;
  @include font(17px, 24px, bold);
}

.main-nav__text {
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-right: 9.375%;
  padding-left: 23.75%;
  border: none;
  box-sizing: border-box;
  @include font(17px, 24px, bold);
  text-decoration: none;
}

.main-nav__cart {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-right: 9.375%;
  padding-left: 23.75%;
  box-sizing: border-box;
  text-decoration: none;
  @include font(17px, 24px, bold);
}
