.main-form {
  @include flex-layout();
  padding-right: 9.375%;
  padding-left: 9.375%;
  box-sizing: border-box;
  @media (min-width: $tablet-widths) {
    padding-right: 50px;
    padding-left: 50px;
  }
}
