.main-nav {
  width: 100%;
  position: relative;
  @include input-placeholder {
    color: black;
  }

  @include tablet {
    @include input-placeholder {
      font-size: 0;
    }
  }

  @include desktop {
    @include input-placeholder {
      font-size: 0;
    }
  }
}

.main-nav__toggler {
  position: absolute;
  right: 0px;
  top: -79px;
  width: 80px;
  height: 79px;
  border: none;
  padding: 0;
  margin: 0;

  @include tablet {
      display: none;
    }

  @include desktop {
      display: none;
    }
}

.main-nav--closed .main-nav__toggler {
  background: url(../img/icon-menu-open.svg) no-repeat center;
}

.main-nav--opened .main-nav__toggler {
  background: url(../img/icon-menu-close.svg) no-repeat center;
}

.main-nav__wrapper {
  position: absolute;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;

  @include mobile {
    background-color: #ffffff;
    z-index: 1;
  }

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
  }

  @include desktop {
    display: flex;
    flex-wrap: wrap;
    z-index: 1;
  }
}

@include mobile {
  .main-nav--closed .main-nav__wrapper {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    display: block;
  }
  .main-nav--nojs .main-nav__toggler {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    display: block;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-basis: 100%;

  @include tablet {
    flex-basis: 167px * 2;
    display: flex;
    order: 2;
  }

  @include desktop {
    flex-basis: 223px * 2;
    flex-grow: 1;
    display: flex;
  }
}

.main-nav__list--main-menu {
  @include tablet {
    position: absolute;
    top: 100%;
    left: 0;
  }
}

.main-nav__list--secondary-menu {
  @include tablet {
    position: absolute;
    top: 100%;
    right: 0;
  }
}

.main-nav__item {
  margin: 0;
  padding: 0;
}

.main-nav__item--new-arrivals,
.main-nav__item--sale,
.main-nav__item--free-shipping {
  display: none;

  @include desktop {
    display: block;
  }
}

.main-nav__item--free-shipping {
  @include tablet {
    display: block;
    width: 334px;
    margin-left: auto;
  }

  @include desktop {
    min-width: 350px;
    flex-grow: 1;
    margin-left: auto;
  }
}

.main-nav__link {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-right: 9.375%;
  padding-left: 23.75%;
  box-sizing: border-box;
  text-decoration: none;
  border-top: 1px solid #ececec;
  @include font(17px, 24px, bold);
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  @include tablet {
    width: 167px;
    padding-left: 0;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 20px;
    box-sizing: border-box;
    border: none;
    @include font(15px, 24px, bold);
  }

  @include desktop {
    width: 185px;
    margin-right: 38px;
    padding-top: 32px;
    padding-bottom: 33px;
    padding-left: 0;
    padding-right: 20px;
    border: none;
    @include font(17px, 24px, bold);
  }
}

.main-nav__link--border-right {
  @include desktop {
    border-right: 1px solid #ececec;
  }
}

.main-nav__link--smaller {
  @include desktop {
    @include font(15px, 24px, bold);
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

.main-nav__link--free-shipping {
  @include tablet {
    width: 100%;
    padding-left: 20px;
    padding-right: 0;
    text-align: right;
    @include font(15px, 24px, normal);
  }

  @include desktop {
    width: 100%;
    padding-right: 0px;
    text-align: right;
    padding-left: 20px;
    @include font(15px, 24px, normal);
  }
}

.main-nav__text-field {
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-right: 9.375%;
  padding-left: 23.75%;
  border: none;
  border-top: 1px solid #ececec;
  box-sizing: border-box;
  @include font(17px, 24px, bold);
  text-decoration: none;
  background: none;

  @include tablet {
    width: 84px;
    height: 88px;
    padding: 10px;
    border: none;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  @include desktop {
    width: 84px;
    height: 89px;
    padding: 10px;
    margin-left: auto;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }
}

.main-nav__search {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 19px;
    right: 84.375%;
    top: 50%;
    transform: translateY(-50%);
    background: #ffffff url("../img/icon-search.svg") no-repeat center;
    opacity: 0.2;
    z-index: -1;
  }

  @include tablet {
    margin-left: auto;
    &::before {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  @include desktop {
    margin-left: auto;
    &::before {
      content: "";
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.main-nav__cart {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-right: 9.375%;
  padding-left: 23.75%;
  box-sizing: border-box;
  text-decoration: none;
  position: relative;
  border-top: 1px solid #ececec;
  @include font(17px, 24px, bold);
  &::before {
    content: "";
    position: absolute;
    width: 21px;
    height: 18px;
    position: absolute;
    right: 84.375%;
    top: 0;
    background: url("../img/icon-cart.svg") no-repeat center;
    opacity: 0.2;
  }
  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  @include tablet {
    width: 264px;
    padding-left: 44px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 0;
    border: none;
    text-align: right;
    box-sizing: border-box;
    &::before {
      left: 32px;
    }
  }

  @include desktop {
    width: 266px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 86px;
    padding-right: 0;
    text-align: right;
    &::before {
      left: 32px;
    }
  }
}
