.main-nav {
  width: 100%;
  position: relative;
}

.main-nav__toggler {
  position: absolute;
  right: 0;
  top: -79px;
  width: 80px;
  height: 79px;
  border: none;
  padding: 0;
  margin: 0;
  background: url(../img/icon-menu-open.svg) no-repeat center;
  @media (min-width: $tablet-widths) {
      display: none;
    }
}

.main-nav__wrapper {
  display: block;
  position: absolute;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  left: 0;
  z-index: 1;
  @media (min-width: $tablet-widths) {
      display: flex;
      flex-wrap: wrap;
      position: relative;
      z-index: 0;
      padding-top: 22px;
    }
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  @media (min-width: $tablet-widths) {
    width: 167px * 2;
    display: flex;
    order: 2;
  }
}

.main-nav__item {
  margin: 0;
  padding: 0;
}

.main-nav__link {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-right: 9.375%;
  padding-left: 23.75%;
  box-sizing: border-box;
  text-decoration: none;
  @include font(17px, 24px, bold);
  &--new-arrivals,
  &--sale,
  &--free-shipping {
    display: none;
  }
  @media (min-width: $tablet-widths) {
    padding-left: 0;
    padding-right: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 167px;
    box-sizing: border-box;
    &--free-shipping {
      display: block;
      width: 300px;
      box-sizing: border-box;
      padding-right: 0;
      margin-left: 34px;
      text-align: right;
      font-weight: normal;
    }

  }
}

.main-nav__text-field {
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-right: 9.375%;
  padding-left: 23.75%;
  border: none;
  box-sizing: border-box;
  @include font(17px, 24px, bold);
  text-decoration: none;
  @media (min-width: $tablet-widths) {
    width: 84px;
    height: 46px;
    padding: 0;
    font-size: 0;
    box-sizing: border-box;
    border: 1px solid black;
    margin-left: 320px;
    margin-bottom: 41px;
  }
}

.main-nav__cart {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-right: 9.375%;
  padding-left: 23.75%;
  box-sizing: border-box;
  text-decoration: none;
  @include font(17px, 24px, bold);
  @media (min-width: $tablet-widths) {
    width: 264px;
    padding-left: 44px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 0;
    text-align: right;
    box-sizing: border-box;
    margin-bottom: 41px;
  }
}
