.modal {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 924px;
  background-color: white;
  border: 1px solid #c7c7c7;
  border-right: none;
  border-left: none;
  box-shadow: 0 5px 10px 0 #c7c7c7;
  display: none;
  z-index: 1;
  @include tablet {
    width: 566px;
    top: 1374px;
  }
  @include desktop {
    width: 566px;
  }
}

.modal__caption {
  margin: 0 auto;
  flex-basis: 100%;
  padding-top: 33px;
  padding-right: 26.875%;
  padding-bottom: 18px;
  padding-left: 27.8125%;
  box-sizing: border-box;
  text-align: center;
  @include font(25px, 30px, bold);
  text-transform: uppercase;
  @include tablet {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 6px;
    @include font(30px, 57px, bold);
  }
  @include desktop {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 6px;
    @include font(30px, 57px, bold);
  }
}

.modal__prompt {
  margin: 0 auto;
  flex-basis: 100%;
  padding-top: 0;
  padding-right: 30px;
  padding-bottom: 23px;
  padding-left: 30px;
  text-align: center;
  box-sizing: border-box;
  @include font(15px, 30px);
  @include tablet {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 18px;
    @include font(17px, 30px);
  }
  @include desktop {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 18px;
    @include font(17px, 30px);
  }
}

.modal__form {
  flex-basis: 100%;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  margin-top: 31px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include tablet {
    flex-basis: 350px;
    margin: 0 auto;
    padding: 0;
    @include font(17px, 30px);
  }
  @include desktop {
    flex-basis: 350px;
    margin: 0 auto;
    padding: 0;
    @include font(17px, 30px);
  }
}

.modal__radio-button {
  @include visibility-hidden();
}

.modal__label {
  flex-basis: 82px;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid #c7c7c7;
  @include font(17px, 52px, bold);
  @include tablet {
    flex-basis: 112px;
    box-sizing: border-box;
    text-align: center;
    outline: 1px solid black;
    padding: 0;
    @include font(17px, 52px, bold);
  }
  @include desktop {
    flex-basis: 112px;
    box-sizing: border-box;
    text-align: center;
    outline: 1px solid black;
    padding: 0;
    @include font(17px, 52px, bold);
  }
}

.modal__submit {
  flex-basis: 100%;
  margin: 31px 0 46px 0;
  padding: 20px 20px 16px 20px;
  box-sizing: border-box;
  border: none;
  background-color: $tiffany;
  @include font(17px, 16px, bold, white);
  text-transform: uppercase;
}
