.modal {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 974px;
  background-color: gold;
  @include visibility-hidden();
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    width: 566px;
  }
  @media (min-width: $desktop-widths) {
    width: 566px;
  }
}

.modal__caption {
  margin: 0 auto;
  flex-basis: 100%;
  padding-top: 33px;
  padding-right: 26.875%;
  padding-bottom: 18px;
  padding-left: 27.8125%;
  box-sizing: border-box;
  text-align: center;
  @include font(25px, 30px, bold);
  text-transform: uppercase;
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 6px;
    @include font(30px, 57px, bold);
  }
  @media (min-width: $desktop-widths) {
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 6px;
    @include font(30px, 57px, bold);
  }
}

.modal__prompt {
  margin: 0 auto;
  flex-basis: 100%;
  padding-top: 0;
  padding-right: 30px;
  padding-bottom: 23px;
  padding-left: 30px;
  text-align: center;
  box-sizing: border-box;
  @include font(15px, 30px);
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 18px;
    @include font(17px, 30px);
  }
  @media (min-width: $desktop-widths) {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 18px;
    @include font(17px, 30px);
  }
}

.modal__form {
  flex-basis: 100%;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  margin-top: 31px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    flex-basis: 350px;
    margin: 0 auto;
    padding: 0;
    @include font(17px, 30px);
  }
  @media (min-width: $desktop-widths) {
    flex-basis: 350px;
    margin: 0 auto;
    padding: 0;
    @include font(17px, 30px);
  }
}

.modal__radio-button {
  @include visibility-hidden();
}

.modal__label {
  flex-basis: 82px;
  box-sizing: border-box;
  text-align: center;
  outline: 1px solid black;
  @include font(17px, 52px, bold);
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    flex-basis: 112px;
    box-sizing: border-box;
    text-align: center;
    outline: 1px solid black;
    padding: 0;
    @include font(17px, 52px, bold);
  }
  @media (min-width: $desktop-widths) {
    flex-basis: 112px;
    box-sizing: border-box;
    text-align: center;
    outline: 1px solid black;
    padding: 0;
    @include font(17px, 52px, bold);
  }
}

.modal__submit {
  flex-basis: 100%;
  margin: 31px 0 46px 0;
  padding: 18px 20px 14px 20px;
  box-sizing: border-box;
  @include font(17px, 16px, bold);
}
