.modal {
  width: 320px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 974px;
  @include visibility-hidden();
}

.modal__caption {
  margin: 0 auto;
  flex-basis: 100%;
  padding-top: 33px;
  padding-right: 26.875%;
  padding-bottom: 18px;
  padding-left: 27.8125%;
  box-sizing: border-box;
  text-align: center;
  @include font(25px, 30px, bold);
  text-transform: uppercase;
}

.modal__prompt {
  margin: 0 auto;
  flex-basis: 100%;
  padding-top: 0;
  padding-right: 30px;
  padding-bottom: 23px;
  padding-left: 30px;
  text-align: center;
  @include font(15px, 30px, normal);
}

.modal__form {
  flex-basis: 100%;
  padding-right: 30px;
  padding-left: 30px;
  box-sizing: border-box;
  margin-top: 31px;
  margin-bottom: 51px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal__radio-button {
  @include visibility-hidden();
}

.modal__label {
  flex-basis: 82px;
  box-sizing: border-box;
  text-align: center;
  outline: 1px solid black;
  @include font(17px, 52px, bold);
}

.modal__submit {
  flex-basis: 100%;
  margin: 31px 0 46px 0;
  padding: 18px 20px 14px 20px;
  @include font(17px, 16px, bold);
}
