.order-form {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  @include mobile {
    margin-bottom: 55px;
    padding-right: 9.375%;
    padding-left: 9.375%;
  }
  @include input-placeholder {
    @include font(17px, 18px, normal, rgba(68, 68, 68, 0.3));
  }
}

.order-form__text {
  margin: 0;
  max-width: 100%;
  padding-top: 25px;
  @include font(13px, 24px);
  text-align: left;

  @include tablet {
    width: 768px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-top: 63px;
    padding-bottom: 5px;
    padding-right: 50px;
    padding-left: 50px;
    @include font(17px, 30px);
  }

  @include desktop {
    padding-top: 105px;
    width: 700px;
    margin: 0 auto;
    padding-right: 225px;
    padding-left: 225px;
    @include font(17px, 30px);
    padding-bottom: 3px;
  }
}

.order-form__fieldset {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  border: 2px solid $tiffany;
  border-right: none;
  border-left: none;
  border-bottom: none;
  box-sizing: border-box;
  @include mobile {
    margin-top: 23px;
    margin-bottom: 12px
  }

  @include tablet {
    border: none;
    padding: 50px 0;
  }

  @include desktop {
    border: none;
    padding: 50px 0;
  }
}

.order-form__fieldset--pt-zero {
  @include tablet {
    padding-top: 0;
  }

  @include desktop {
    padding-top: 0;
  }
}

.order-form__fieldset--pb-smaller {
  @include tablet {
    padding-bottom: 25px;
  }

  @include desktop {
    padding-bottom: 25px;
  }
}

.order-form__fieldset--bg-gray {
  @include tablet {
    background-color: #f1f1f1;
  }
  @include desktop {
    background-color: #f1f1f1;
  }
}


.order-form__flex-inner {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include desktop {
    display: flex;
    flex-wrap: wrap;
  }
}

.order-form__fieldset-caption {
  margin: 0;
  width: auto;
  margin-bottom: 22px;
  padding-right: 25px;
  @include font(17px, 16px, bold, $tiffany);
  text-transform: uppercase;
  position: relative;

  @include tablet {
    position: absolute;
    left: 50px;
    top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 168px;
  }

  @include desktop {
    position: absolute;
    padding-top: 20px;
    padding-bottom: 20px;
    width: auto;
    padding-left: 111px;
  }
}

.order-form__fieldset-caption--mb-smaller {
  margin-bottom: 4px;
}

.order-form__fieldset-caption--absulute-upper {
  top: 0;
}

.order-form__input-radio,
.order-form__input-checkbox {
  @include visibility-hidden();
}

.order-form__label {
  display: block;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 13px;
  padding-bottom: 8px;
  padding-right: 16%;
  padding-left: 24.2%;
  @include font(17px, 18px, bold);

  @include mobile {
    margin-bottom: 22px;
  }

  @include tablet {
    margin: 0;
    padding-left: 80px;
    width: 240px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-bottom: 24px;
    padding-right: 35px;
    @include font(19px, 18px, bold);
  }

  @include desktop {
    margin: 0;
    padding-left: 80px;
    width: 262px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-bottom: 24px;
    padding-right: 35px;
    @include font(19px, 18px, bold);
  }
}

.order-form__label--mb-zero {
  margin-bottom: 0;
}

.order-form__label--mb-standart {
    @include mobile {
      margin-bottom: 23px;
    }
}

.order-form__input-checkbox + .order-form__label {
  position: relative;
  &::before {
    content: "";
    width: 40px;
    height: 39px;
    box-sizing: border-box;
    border: 2px solid #444444;
    left: 0;
    top: 2px;
    position: absolute;
  }
  @include tablet {
    &::before {
      width: 54px;
      height: 52px;
    }
  }
  @include desktop {
    &::before {
      width: 54px;
      height: 52px;
    }
  }
}

.order-form__input-checkbox:checked + .order-form__label {
  &::before {
  background: url("../img/icon-tick.svg") no-repeat center;
  background-size: 25px;
  }
  @include tablet {
    &::before {
    background-size: 32px;
    }
  }
  @include desktop {
    &::before {
    background-size: 35px;
    }
  }
}

.order-form__input-radio + .order-form__label {
  position: relative;
  &::before {
    content: "";
    width: 40px;
    height: 39px;
    box-sizing: border-box;
    border: 2px solid #444444;
    left: 0;
    top: 2px;
    position: absolute;
    border-radius: 50%;
  }
  @include tablet {
    &::before {
      width: 54px;
      height: 52px;
    }
  }

  @include desktop {
    &::before {
      width: 54px;
      height: 52px;
    }
  }
}

.order-form__input-radio:checked + .order-form__label {
  &::before {
    background-color: $tiffany;
    box-shadow: inset 0 0 0 10px white;

    @include tablet {
      box-shadow: inset 0 0 0 14px white;
    }

    @include desktop {
      box-shadow: inset 0 0 0 14px white;
    }
  }
}

.order-form__label--text-fields {
  margin-bottom: 0;
  padding-left: 0;
  padding-bottom: 0;
  padding-top: 6px;
  @include tablet {
    padding-left: 0;
    padding-right: 29px;
    width: auto;
    padding-top: 16px;
  }
  @include desktop {
    padding-left: 0;
    padding-right: 29px;
    width: auto;
    padding-top: 16px;
  }
}

.order-form__label--mb-smaller {
  @include mobile {
    margin-bottom: 3px;
  }
}

.order-form__label--width100 {

  @include tablet {
    width: 100%;
  }

  @include desktop {
    width: 100%;
  }
}

.order-form__input-text {
  width: 100%;
  box-sizing: border-box;
  padding: 16px 15px 16px 0;
  border: none;
  border-bottom: 2px solid black;
  margin-bottom: 14px;
  @include font(17px, 18px);

  @include tablet {
    width: 375px;
    flex-grow: 1;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 25px;
    padding-left: 15px;
    @include font(19px, 18px);
  }

  @include desktop {
    width: 575px;
    flex-grow: 1;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 18px;
    margin-bottom: 25px;
    margin-right: 175px;
    @include font(19px, 18px);
  }
}

.order-form__input-text--mb-zero {
    margin-bottom: 0;
}

.order-form__input-text--icon-phone {
  position: relative;
  background: url("../img/icon-phone.svg") no-repeat right;
  @include tablet {
    background: url("../img/icon-phone.svg") no-repeat 95% center;
  }
}

.order-form__input-text--icon-email {
  position: relative;
  background: url("../img/icon-mail.svg") no-repeat right;
  @include tablet {
    background: url("../img/icon-mail.svg") no-repeat 95% center;
  }
}

.order-form__input-text--mb-smaller {
  @include mobile {
    margin-bottom: 31px;
  }
  @include tablet {
    margin-bottom: 25px;
  }
}

.order-form__input-textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 17px;
  margin-bottom: 0px;
  margin-top: 20px;
  resize: none;
  border: 2px solid #444444;
  @include font(17px, 18px);
  min-height: 142px;
  @include tablet {
    @include font(19px, 18px);
    margin-bottom: 0;
    margin-top: 0;
  }
  @include desktop {
    margin-right: 175px;
    @include font(19px, 18px);
    margin-bottom: 0;
    margin-top: 0;
  }
}

.order-form__required-legend {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  width: 100%;
  @include font(14px, 16px);

  @include tablet {
    order: 2;
    width: 334px;
    text-align: right;
    margin-left: 104px;
    margin-bottom: 0;
    margin-top: 12px;
    @include font(17px, 30px);
  }
  @include desktop {
    order: 2;
    width: 350px;
    text-align: right;
    margin-left: 120px;
    margin-top: 10px;
    @include font(17px, 30px);
  }
}

.order-form__submit {
  margin: 0 auto;
  box-sizing: border-box;
  width: 260px;
  padding: 15px 20px 13px 20px;
  text-align: center;
  border: 2px solid #444444;
  background-color: white;
  @include font(17px, 20px, bold);
  text-transform: uppercase;
  text-decoration: none;
  @include tablet {
    margin: 0;
    margin-bottom: 52px;
    width: 230px;
  }
  @include desktop {
    margin: 0;
    margin-left: 175px;
    margin-bottom: 48px;
    width: 230px;
  }
}
