.page-footer {
  @include flex-layout();
  flex-direction: column;
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    flex-direction: row;
    &--catalog {
      margin-top: 63px;
    }
  }
  @media (min-width: $desktop-widths) {
    flex-direction: row;
    padding-right: 50px;
    padding-left: 50px;
    box-sizing: border-box;
  }
}

.page-footer__logo {
  display: none;
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    display: block;
    width: 102px;
    height: 34px;
    padding: 20px;
    margin-top: 31px;
    margin-bottom: 38px;
    margin-left: 30px;
    margin-right: 45px;
  }
  @media (min-width: $desktop-widths) {
    display: block;
    width: 102px;
    height: 34px;
    margin-top: 51px;
    margin-bottom: 58px;
  }
}

.page-footer__social-links {
  margin: 0 auto;
  padding: 0;
  width: 145px;
  box-sizing: border-box;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    margin: 0 87px;
  }
  @media (min-width: $desktop-widths) {
    margin-left: 345px;
    margin-right: auto;
  }
}

.social-link {
  padding: 0;
  margin: 0;
  a {
    display: block;
    font-size: 0;
    width: 45px;
    height: 80px;
    box-sizing: border-box;
    border: 2px solid black;
    @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
      height: 143px;
    }
    @media (min-width: $desktop-widths) {
      height: 143px;
    }
  }
}

.page-footer__copyright {
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 28px;
  padding-right: 125px;
  padding-bottom: 31px;
  padding-left: 70px;
  @include font(19px, 18px, bold);
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    margin: 0;
    width: 232px;
    margin-top: 63px;
    padding: 0;
    padding-right: 100px;
  }
  @media (min-width: $desktop-widths) {
    margin: 0;
    width: 184px;
    margin-top: 64px;
    padding: 0;
    padding-right: 58px;
  }
}

.page-footer__copyright-link {
  font-size: 0;
}
