.page-footer {
  @include flex-layout();
  flex-direction: column;
  background-color: #f1f1f1;
  @include tablet {
    flex-direction: row;

  }
  @include desktop {
    flex-direction: row;
    padding-right: 50px;
    padding-left: 50px;
    box-sizing: border-box;
  }
}

.page-footer__logo {
  display: none;
  @include tablet {
    display: block;
    width: 102px;
    height: 34px;
    padding: 20px;
    margin-top: 31px;
    margin-bottom: 38px;
    margin-left: 30px;
    margin-right: 45px;
  }
  @include desktop {
    display: block;
    width: 102px;
    height: 34px;
    padding: 20px;
    padding-left: 0;
    margin-top: 31px;
    margin-bottom: 38px;
    margin-right: 45px;
  }
}

.page-footer__social-links {
  margin: 0 auto;
  padding: 0;
  width: 145px;
  box-sizing: border-box;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  @include tablet {
    margin: 0 87px;
  }
  @include desktop {
    margin-left: 286px;
    margin-right: auto;
  }
}

.social-link {
  padding: 0;
  margin: 0;
  position: relative;
  display: block;
  &::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    background-color: black;
  }
  a {
    display: block;
    font-size: 0;
    width: 45px;
    height: 80px;
    box-sizing: border-box;
    @include tablet {
      height: 143px;
    }
    @include desktop {
      height: 143px;
    }
  }
}

.social-link--inst {
  &::before{
    background: url("../../img/icon-insta.svg") no-repeat 0 6px;
  }
  @include tablet {
    &::before{
      background: url("../../img/icon-insta.svg") no-repeat 5px 6px;
    }
  }
}

.social-link--fb {
  &::before{
    background: url("../../img/icon-fb.svg") no-repeat 10px 1px;
  }
  @include tablet {
    &::before{
      background: url("../../img/icon-fb.svg") no-repeat 20px 1px;
    }
  }
}

.social-link--twitter {
  &::before{
        background: url("../../img/icon-twitter.svg") no-repeat 19px 7px;
  }
  @include desktop {
    &::before{
          background: url("../../img/icon-twitter.svg") no-repeat 18px 7px;
    }
  }
}

.page-footer__copyright {
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 29px;
  padding-right: 125px;
  padding-bottom: 9px;
  padding-left: 70px;
  @include font(19px, 18px, bold);
  position: relative;
  @include mobile {
    &::before {
      content: "";
      width: 81.25%;
      height: 1px;
      background-color: #ececec;
      position: absolute;
      top: 0;
      left: 9.375%;
    }
  }
  &::after {
    content: "";
    position: absolute;
    width: 27px;
    height: 34px;
    background-color: black;
    top: 24px;
    right: 70px;
    background: url("../../img/logo-htmlacademy.svg") no-repeat center;
  }

  @include tablet {
    margin: 0;
    width: 232px;
    margin-top: 63px;
    padding: 0;
    padding-right: 100px;
    &::after {
      top: -5px;
      right: 50px;
    }
  }
  @include desktop {
    margin: 0;
    width: 184px;
    margin-top: 64px;
    padding: 0;
    padding-right: 58px;
    &::after {
      top: -5px;
      right: 0;
    }
  }
}

.page-footer__copyright-link {
  font-size: 0;
}
