.page-header {
  @include flex-layout();
  box-sizing: border-box;
  position: relative;

  @include tablet {
    padding: 0 50px;
  }
  @include desktop {
    padding: 0 50px;
  }
}

.page-header__title {
  @include visibility-hidden();
}

.page-header__link {
  box-sizing: border-box;
  margin: 22px auto 21px;

  @include tablet {
    margin: 0;
    position: absolute;
    z-index: 1;
    padding-top: 22px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  @include desktop {
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    position: absolute;
    z-index: 1;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
  }
}

.page-header__logo--tablet {
  display: none;
  @include tablet {
    display: block;
  }
  @include desktop {
    display: none;
  }
}

.page-header__logo--desktop {
  display: none;
  @include tablet {
    display: none;
  }
  @include desktop {
    display: block;
  }
}

.page-header__logo--mobile {
  display: block;
  @include tablet {
    display: none;
  }
  @include desktop {
    display: none;
  }
}
