.page-header {
  @include flex-layout();
  @media (min-width: $tablet-widths) {
    padding: 0 50px;
    box-sizing: border-box;
  }
}

.page-header__title {
  @include visibility-hidden();
}

.page-header__link {
  box-sizing: border-box;
  margin: 20px auto;
  @media (min-width: $tablet-widths) {
    text-align: left;
    margin: 0;
    position: absolute;
    z-index: 1;
    padding-top: 22px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
}

.page-header__logo {
  &--tablet-desktop {
    display: none;
  }
  @media (min-width: $tablet-widths) {
    &--tablet-desktop {
      display: block;
    }
    &--mobile {
      display: none;
    }
  }
  @media (min-width: $desktop-widths) {
    &--tablet-desktop {
      display: block;
    }
    &--mobile {
      display: none;
    }
  }
}
