.production {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  @media (min-width: $desktop-widths) {
    padding: 57px 0 0 700px;
    position: relative;
  }
}

.production__caption {
  width: 100%;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 26px;
  padding-left: 34.61%;
  text-align: left;
  box-sizing: border-box;
  @include font(17px, 24px, bold);
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    padding-top: 41px;
    padding-bottom: 34px;
    @include font(20px, 24px, bold);
    padding-left: 107px;
  }
  @media (min-width: $desktop-widths) {
    padding-top: 98px;
    padding-left: 63px;
    padding-right: 90px;
    padding-bottom: 36px;
    @include font(20px, 24px, bold);
  }
}

.production__video {
  width: 100%;
  border: 2px solid black;
  box-sizing: border-box;
  height: 150px;
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    order: -1;
    display: block;
    height: 455px;
  }
  @media (min-width: $desktop-widths) {
    position: absolute;
    left: 0;
    top: 57px;
    width: 682px;
    height: 455px;
  }
}

.production__text {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 25px;
  padding-left: 13.46%;
  padding-right: 17.3%;
  @include font(13px, 24px);
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    padding-top: 0;
    padding-bottom: 32px;
    padding-left: 42px;
    padding-right: 47px;
    @include font(15px, 30px);
  }
  @media (min-width: $desktop-widths) {
    padding-top: 0;
    padding-left: 63px;
    padding-right: 65px;
    padding-bottom: 41px;
    @include font(15px, 30px);
  }
}

.production__make-order {
  display: block;
  margin: 0 auto;
  width: 192px;
  padding: 20px 26px 16px 26px;
  text-align: center;
  border: 1px solid black;
  box-sizing: border-box;
  margin-bottom: 47px;
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    width: 100%;
    margin-right: 42px;
    margin-left: 42px;
    @include font(17px, 16px);
  }
  @media (min-width: $desktop-widths) {
    width: 230px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
    @include font(17px, 16px);
    padding: 18px 20px 16px 20px;
  }
}
