.production {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  position: relative;
  @include mobile {
    width: 81.25%;
    margin-right: 9.375%;
    margin-left: 9.375%;
    margin-bottom: 57px;
    border: 1px solid #ececec;
    padding-bottom: 33px;
  }
  @include tablet {
    margin-bottom: 62px;
    position: relative;
    border: 1px solid #ececec;
  }

  @include desktop {
    padding: 10px 0 0 700px;
    position: relative;
    margin-top: 59px;
    outline: 1px solid #ececec;
    box-sizing: border-box;
    margin-bottom: 106px;
  }
}

.production__caption {
  width: 100%;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 23px;
  padding-left: 34.61%;
  text-align: left;
  box-sizing: border-box;
  @include font(17px, 24px, bold);
  position: relative;
  &::before {
    position: absolute;
    content: "";
    width: 90px;
    height: 103px;
    top: 0;
    right: 65.38%;
    background: url("../img/icons/icon-video.svg") no-repeat 55% 45%;
  }
  @include tablet {
    padding-top: 39px;
    padding-bottom: 33px;
    @include font(20px, 24px, bold);
    padding-left: 107px;
    &::before {
      left: 0;
      background-position: 70% 45%;
    }
  }
  @include desktop {
    padding-top: 85px;
    padding-left: 63px;
    padding-right: 90px;
    padding-bottom: 34px;
    @include font(20px, 24px, bold);
  }
}

.production__video {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  height: 150px;
  background: url("../img/video-mobile@1x.jpg") no-repeat center;
  background-size: cover;
  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/video-mobile@2x.jpg");
  }

  @include tablet {
    order: -1;
    width: 668px;
    height: 455px;
    background: url("../img/video-tablet@1x.jpg") no-repeat center;
    background-size: cover;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/video-tablet@2x.jpg");
    }
  }
  @include desktop {
    position: absolute;
    left: 0;
    top: 0px;
    width: 682px;
    height: 453px;
    background: url("../img/video-desktop@1x.jpg") no-repeat center;
    background-size: cover;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/video-desktop@2x.jpg");
    }
  }
}

.production__play {
  position: absolute;
  width: 101px;
  height: 78px;
  top: 132px;
  left: 79px;
  border: none;
  padding: 0;
  margin: 0;
  background: url("../img/icons/icon-play.svg") no-repeat center;
  background-size: cover;
  z-index: 1;

  @include tablet {
    top: 189px;
    left: 291px;
  }
  @include desktop {
    top: 189px;
    left: 291px;
  }
}

.production__text {
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  padding-top: 28px;
  padding-bottom: 23px;
  padding-left: 13.46%;
  padding-right: 15%;
  @include font(13px, 24px);
  @include tablet {
    padding-top: 0;
    padding-bottom: 10px;
    padding-left: 42px;
    padding-right: 47px;
    @include font(15px, 30px);
  }
  @include desktop {
    padding-top: 0;
    padding-left: 63px;
    padding-right: 40px;
    padding-bottom: 21px;
    @include font(15px, 30px);
  }
}

.production__make-order {
  margin: 0 auto;
  margin-top: 2px;
  box-sizing: border-box;
  width: 192px;
  padding: 17px 20px 14px 20px;
  text-align: center;
  border: 2px solid #444444;
  @include font(17px, 16px, bold);
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    box-shadow: 0 5px 6px 0 darkgray;
  }
  &:active {
    box-shadow: 0 3px 0 0 darkgray;
  }

  @include tablet {
    margin-top: 23px;
    width: 100%;
    margin-right: 42px;
    margin-left: 42px;
    margin-bottom: 46px;
  }
  @include desktop {
    margin-top: 23px;
    width: 230px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 58px;
    padding: 18px 20px 16px 20px;
  }
}
