.promo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 9.375%;
  padding-left: 9.375%;
  @include tablet {
    padding-right: 50px;
    padding-left: 50px;
    position: relative;
  }
  @include desktop {
    padding-right: 50px;
    padding-left: 50px;
    position: relative;
    margin-left: 175px;
  }
}

.promo__caption {
  margin: 0;
  width: 100%;
  padding-top: 29px;
  padding-bottom: 5px;
  text-align: left;
  @include font(25px, 30px, bold);
  @include tablet {
    padding-bottom: 48px;
    padding-top: 43px;
    width: 500px;
    @include font(43px, 50px, bold);
  }
  @include desktop {
    padding-bottom: 48px;
    padding-top: 127px;
    width: 875px;
    @include font(53px, 57px, bold);
  }
}

.promo__legend {
  margin: 0;
  width: 100%;
  padding-bottom: 23px;
  text-align: left;
  @include font(17px, 20px, bold);
  text-transform: uppercase;
  color: $tiffany;
  @include tablet {
    width: 168px;
    box-sizing: border-box;
    padding-top: 53px;
    padding-right: 27px;
    padding-left: 68px;
    padding-bottom: 51px;
    @include font(17px, 17px, bold, $tiffany);
    text-align: center;
  }
  @include desktop {
    order: -1;
    position: absolute;
    width: 175px;
    padding: 0;
    padding-left: 48px;
    padding-right: 55px;
    box-sizing: border-box;
    margin-left: -175px;
    margin-top: 138px;
  }
}

.promo__text {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 27px;
  text-align: left;
  padding-right: 15px;
  @include font(15px, 24px, normal);
  @include tablet {
    width: 334px;
    margin-right: 334px;
    padding-bottom: 34px;
    @include font(17px, 30px, normal);
  }
  @include desktop {
    width: 350px;
    margin-right: 525px;
    padding-bottom: 47px;
    padding-right: 70px;
    @include font(17px, 30px, normal);
  }
}

.promo__contents {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  border-collapse: collapse;
  border: none;
  @include font(15px, 20px, normal);
  @include tablet {
    width: 291px;
    margin-right: 334px;
  }
  @include desktop {
    width: 291px;
    margin-right: 525px;
  }
}

.promo__name {
  width: 38.46153%; /*ширина столбца таблицы*/
  padding: 0;
  margin: 0;
  padding-bottom: 19px;
  border-bottom: 1px solid #ececec;
  @include tablet {
    width: 105px;
    padding: 10px 0;
  }
  @include desktop {
    width: 105px;
    padding: 10px 0;
  }
}

.promo__value {
  width: 61.53847%; /*ширина столбца таблицы*/
  padding: 0;
  margin: 0;
  padding-bottom: 19px;
  border-bottom: 1px solid #ececec;
  @include tablet {
    width: 229px;
    padding: 10px 0;
  }
  @include desktop {
    width: 229px;
    padding: 10px 0;
  }
}

.promo__image {
  margin: 0 auto;
  margin-top: 18px;
  width: 260px;
  height: 315px;
  box-sizing: border-box;
  background-size: cover;
  @include tablet {
    width: 334px;
    height: 404px;
    position: absolute;
    right: 0;
    top: 130px;
    right: 50px;
    z-index: -1;
  }
  @include desktop {
    width: 525px;
    height: 636px;
    position: absolute;
    right: 50px;
    top: 55px;
    z-index: -1;
  }

}

.promo__price {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding-top: 23px;
  padding-bottom: 25px;
  text-align: center;
  @include font(17px, 27px, bold);
  @include tablet {
    width: 334px;
    margin-right: 334px;
    padding-left: 74px;
    box-sizing: border-box;
    text-align: left;
    padding-top: 56px;
    padding-bottom: 32px;
    @include font(20px, 24px, bold);
  }
  @include desktop {
    width: 292px;
    padding-top: 109px;
    margin-right: 583px;
    padding-bottom: 32px;
    @include font(20px, 24px, bold);
  }
}

.promo__buy {
  margin: 0 auto;
  box-sizing: border-box;
  width: 260px;
  padding: 15px 20px 13px 20px;
  text-align: center;
  border: 2px solid #444444;
  @include font(17px, 20px, bold);
  text-transform: uppercase;
  text-decoration: none;
  @include tablet {
    width: 292px;
    box-sizing: border-box;
    margin: 0;
    margin-right: auto;
  }
  @include desktop {
    width: 292px;
    margin-right: 583px;
  }
}
