.promo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 9.375%;
  padding-left: 9.375%;
}

.promo__caption {
  margin: 0;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 10px;
  text-align: left;
  @include font(25px, 30px, bold);
}

.promo__legend {
  margin: 0;
  width: 100%;
  padding-bottom: 28px;
  text-align: left;
  @include font(17px, 20px, bold);
  text-transform: uppercase;
}

.promo__text {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 33px;
  text-align: left;
  @include font(15px, 24px, normal);
}

.promo__contents {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  @include font(15px, 20px, normal);
}

.promo__name {
  width: 38.46153%; /*ширина столбца таблицы*/
}

.promo__value {
  width: 61.53847%; /*ширина столбца таблицы*/
}

.promo__image {
  margin: 0 auto;
  width: 260px;
  height: 315px;
  box-sizing: border-box;
  background-size: cover;
}

.promo__price {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding-top: 26px;
  padding-bottom: 26px;
  text-align: center;
  @include font(17px, 27px, bold);
}

.promo__buy {
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
  width: 260px;
  padding: 18px 20px 18px 20px;
  text-align: center;
  border: 1px solid black;
}
