.reviews {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 9.375%;
  padding-left: 9.375%;
  margin-bottom: 33px;
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 32px;
    position: relative;
  }
  @media (min-width: $desktop-widths) {
    padding-right: 50px;
    padding-left: 50px;
    position: relative;
    margin-left: 175px;
    margin-top: 33px;
  }
}

.reviews__caption {
  margin: 0;
  width: 100%;
  padding-top: 57px;
  padding-bottom: 33px;
  @include font(25px, 30px, bold);
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    padding-top: 82px;
    padding-bottom: 54px;
    @include font(43px, 50px, bold);
    width: auto;
    margin-right: auto;
    order: -1;
  }
  @media (min-width: $desktop-widths) {
    padding-top: 78px;
    padding-bottom: 57px;
    @include font(53px, 57px, bold);
    width: auto;
    margin-right: auto;
    order: -1;
  }
}

.reviews__item {
  margin: 0;
  padding: 0;
  width: 100%;
}

.reviews__text {
  @include font(15px, 30px);
  margin: 0;
  padding-bottom: 4px;
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    @include font(17px, 30px);
    padding-bottom: 66px;
  }
  @media (min-width: $desktop-widths) {
    @include font(17px, 30px);
    padding-bottom: 40px;
    padding-right: 100px;
  }
}

.reviews__author {
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    display: block;
    width: 334px;
    margin-right: auto;
    padding-bottom: 50px;
  }
  @media (min-width: $desktop-widths) {
    display: block;
    width: 350px;
    margin-right: auto;
    padding-bottom: 94px;
  }
}

.reviews__author-name {
  display: block;
  padding-bottom: 10px;
  @include font(17px, 24px, bold);
  font-style: normal;
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    @include font(18px, 24px);
  }
  @media (min-width: $desktop-widths) {
    @include font(18px, 24px);
  }
}

.reviews__author-profile {
  display: block;
  @include font(17px, 24px);
  font-style: normal;
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    @include font(17px, 30px);
  }
  @media (min-width: $desktop-widths) {
    @include font(17px, 30px);
  }
}

.reviews__button {
  box-sizing: border-box;
  width: 50%;
  height: 52px;
  margin: 0;
  padding: 0;
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    width: 80px;
  }
  @media (min-width: $desktop-widths) {
    width: 88px;
  }
}

.reviews__button--prev {
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    position: absolute;
    right: 140px;
    bottom: 50px;
    box-sizing: border-box;
  }
  @media (min-width: $desktop-widths) {
    position: absolute;
    right: 136px;
    bottom: 102px;
    box-sizing: border-box;
  }
}
.reviews__button--next {
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    margin-right: 10px;
    position: absolute;
    right: 50px;
    bottom: 50px;
    box-sizing: border-box;
  }
  @media (min-width: $desktop-widths) {
    position: absolute;
    right: 50px;
    bottom: 102px;
    box-sizing: border-box;
  }
}

.reviews__write-review {
  margin: 0 auto;
  margin-top: 38px;
  width: 260px;
  box-sizing: border-box;
  padding: 18px 20px 18px 20px;
  text-align: center;
  border: 1px solid black;
  @media (min-width: $tablet-widths) and (max-width: $desktop-widths) {
    order: -1;
    align-self: flex-start;
    margin: 0;
    margin-top: 78px;
    width: 175px;
  }
  @media (min-width: $desktop-widths) {
    order: -1;
    align-self: flex-start;
    margin: 0;
    margin-top: 78px;
    width: 175px;
  }
}
