.reviews {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 9.375%;
  padding-left: 9.375%;
}

.reviews__caption {
  margin: 0;
  width: 100%;
  padding-top: 57px;
  padding-bottom: 33px;
  @include font(25px, 30px, bold);
}

.reviews__item {
  margin: 0;
  padding: 0;
  width: 100%;
}

.reviews__text {
  @include font(15px, 30px);
  margin: 0;
  padding-bottom: 30px;
}

.reviews__author-name {
  display: block;
  padding-bottom: 10px;
  @include font(17px, 24px, bold);
  font-style: normal;
}

.reviews__author-profile {
  display: block;
  padding-bottom: 33px;
  @include font(17px, 24px);
  font-style: normal;
}

.reviews__button {
  box-sizing: border-box;
  width: 50%;
  height: 52px;
  margin: 0;
  padding: 0;
}

.reviews__button--prev {
}
.reviews__button--next {

}

.reviews__write-review {
  margin: 0 auto;
  margin-top: 38px;
  flex-basis: 260px;
  box-sizing: border-box;
  padding: 18px 20px 18px 20px;
  text-align: center;
  border: 1px solid black;
}
