.reviews {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-right: 9.375%;
  padding-left: 9.375%;
  margin-bottom: 33px;
  @include tablet {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 32px;
    position: relative;
    background: url("../img/review@1x.jpg") no-repeat 0% 0%;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/review@2x.jpg") no-repeat 0% 0%;
      background-size: 350px 457px;
    }
  }

  @include desktop {
    padding-right: 0;
    padding-left: 0;
    position: relative;
    margin-top: 29px;
    background: url("../img/review@1x.jpg") no-repeat 50px 0%;
    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/review@2x.jpg") no-repeat 50px 0%;
      background-size: 350px 457px;
    }
  }
}

.reviews__caption {
  margin: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 25px;
  @include font(25px, 30px, bold);
  @include tablet {
    padding-top: 80px;
    padding-bottom: 48px;
    @include font(43px, 50px, bold);
    width: auto;
    margin-right: auto;
    order: -1;
  }
  @include desktop {
    padding-top: 70px;
    padding-bottom: 49px;
    @include font(53px, 57px, bold);
    width: auto;
    margin-right: auto;
    order: -1;
  }
}

.reviews__item {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

.reviews__text {
  @include font(15px, 30px);
  margin: 0;
  padding-bottom: 4px;
  padding-right: 10px;
  @include tablet {
    @include font(17px, 30px);
    padding-bottom: 33px;
  }
  @include desktop {
    @include font(17px, 30px);
    padding-bottom: 13px;
    padding-right: 100px;
  }
}

.reviews__author {
  @include tablet {
    display: block;
    width: 334px;
    margin-right: auto;
  }
  @include desktop {
    display: block;
    width: 350px;
    margin-right: auto;
    padding-bottom: 94px;
  }
}

.reviews__author-name {
  display: block;
  padding-top: 24px;
  @include font(17px, 24px, bold);
  font-style: normal;
  @include tablet {
    @include font(18px, 24px);
  }
  @include desktop {
    @include font(18px, 24px);
  }
}

.reviews__author-profile {
  display: block;
  padding-top: 5px;
  padding-bottom: 30px;
  @include font(17px, 24px);
  font-style: normal;
  @include tablet {
    padding-bottom: 41px;
    @include font(17px, 30px);
  }
  @include desktop {
    @include font(17px, 30px);
  }
}

.reviews__button {
  box-sizing: border-box;
  width: 50%;
  height: 52px;
  margin: 0;
  padding: 0;
  background-color: white;
  font-size: 0;
  border: none;

  @include mobile {
    border: 1px solid #ececec;
  }

  @include tablet {
    width: 80px;
  }

  @include desktop {
    width: 88px;
  }
}

.reviews__button--prev {
  background: url("../../img/icon-left-arrow.svg") no-repeat center;
  @include tablet {
    position: absolute;
    right: 140px;
    bottom: 47px;
    box-sizing: border-box;
  }
  @include desktop {
    position: absolute;
    right: 136px;
    bottom: 130px;
    box-sizing: border-box;
  }
}
.reviews__button--next {
  background: url("../../img/icon-right-arrow.svg") no-repeat center;
  @include tablet {
    margin-right: 10px;
    position: absolute;
    right: 45px;
    bottom: 47px;
    box-sizing: border-box;
  }
  @include desktop {
    position: absolute;
    right: 50px;
    bottom: 130px;
    box-sizing: border-box;
  }
}

.reviews__write-review {
  margin: 0 auto;
  margin-top: 38px;
  width: 260px;
  box-sizing: border-box;
  padding: 15px 20px 13px 20px;
  text-align: center;
  border: 2px solid #444444;
  @include font(17px, 20px, bold);
  text-transform: uppercase;
  text-decoration: none;
  @include tablet {
    order: -1;
    align-self: flex-start;
    margin: 0;
    margin-top: 78px;
    width: 175px;
  }
  @include desktop {
    order: -1;
    align-self: flex-start;
    margin: 0;
    margin-top: 78px;
    width: 175px;
  }
}
